<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Profil Einstellungen</ion-title>
</ion-navbar>

<ion-content>

  <ion-list>
    <ion-list-header>
      Profileinstellungen <b>{{user.hskaId}}</b>
    </ion-list-header>
    <ion-item *ngIf="user.roles.length > 1" *ngFor="#a_role of user.roles">
      <ion-icon name="leaf" item-left></ion-icon> {{a_role}}
    </ion-item>

    <ion-item>
      <ion-label fixed>Benutzername</ion-label>
      <ion-input type="text" value="{{user.firstName}}s_Nicname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Vorname</ion-label>
      <ion-input type="text" value="{{user.firstName}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Nachname</ion-label>
      <ion-input type="text" value="{{user.lastName}}"></ion-input>
    </ion-item>

    <button dark>Änderungen speichern</button>

  </ion-list>

  <ion-list>
    <ion-list-header>
      Passwort
    </ion-list-header>


    <ion-item>
      <ion-input type="password" placeholder="Neues Passwort"></ion-input>
    </ion-item>


    <ion-item>
      <ion-input type="password" placeholder="Neues Passwort Wdh."></ion-input>
    </ion-item>

    <button dark>Neues Passwort setzen</button>

  </ion-list>




</ion-content>
