<ion-menu [content]="content">

  <ion-toolbar>
    <ion-title>SmartCoffee</ion-title>
  </ion-toolbar>

  <ion-content>
    <ion-list>
      <div *ngFor="#p of pages">
        <button ion-item *ngIf="isVisible(p.authorizedRoles)" (click)="openPage(p.component)">
          {{p.title}}
        </button>
      </div>
      <button ion-item *ngIf="!isLoggedIn()" (click)="login()">Einloggen</button>
      <button ion-item *ngIf="isLoggedIn()" (click)="logout()">Ausloggen</button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>
