.add-student-button {
  font-size: 30px;
  float: right;

  &:hover {
    cursor: pointer;
  }
}

.student {
  padding-left: 0;

  > div {
    padding-left: 16px;
  }

  &:nth-child(even) {
    background-color: #eeeeee;
  }

  &:hover {
    cursor: pointer;
    background-color: #dddddd;
  }
}
